*{
  margin: 0;
  padding: 0;
  text-align: center;
}


h1{
  background-color: #081b31;
  color:#fff;
  height: 5rem;
  line-height: 5rem;
}

.choice{
  height: 115px;
  width: 115px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.choice:hover{
  opacity: 0.6;
  background-color: #081b31;
}

img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3%;
}


.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2rem ;
  gap: 5rem;
}

#user-score, 
#comp-score{
  font-size: 4rem;
}


#msg{
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  border-radius: 1rem;
}